<div class="mdl-grid" >
  <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col" style="margin: 20px;">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Lista de Clientes</h2>
    </div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th style="width:10px;">ID</th>
        <th class="mdl-data-table__cell--non-numeric">Nome</th>
        <th style="width:10px;">Limite de Crédito</th>
        <th class="mdl-data-table__cell--non-numeric">Risco</th>
        <th class="">Taxa de Juros</th>
      </tr>
      </thead>
      <tbody>
      <tr mdbTableCol *ngFor="let cliente of clientesDataSource">
        <th  style="width:10px;">{{cliente.id}}</th>
        <td class="mdl-data-table__cell--non-numeric">{{cliente.nome}}</td>
        <td  style="width:10px;">{{cliente.limiteCredito}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{cliente.risco}}</td>
        <td  style="width:10px;">{{cliente.taxaJuros}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
