<div class="mdl-grid" >
  <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col" style="margin: 20px;">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Novo Cliente</h2>
    </div>
    <div class="mdl-grid mdl-cell--8-col" >
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
          <input [(ngModel)]="cliente.nome" name="nome" class="mdl-textfield__input" type="text" id="nome" required>
          <label class="mdl-textfield__label" for="nome">Nome</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
          <input [(ngModel)]="cliente.limiteCredito" name="limiteCredito" class="mdl-textfield__input" type="text" id="limiteCredito" pattern="-?[0-9]*(\.[0-9]+)?">
          <label class="mdl-textfield__label" for="limiteCredito">Limite de Crédito</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height mdl-cell--12-col" >
          <input [(ngModel)]="cliente.risco" name="risco" type="text" value="" class="mdl-textfield__input" id="risco"  (change)="onChangeRisco(event)">
          <input  type="hidden" value="" name="risco"  >
          <label for="risco" class="mdl-textfield__label">Selecione Risco</label>
          <ul for="risco" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            <li class="mdl-menu__item" data-val="A" data-selected="true">A</li>
            <li class="mdl-menu__item" data-val="B" >B</li>
            <li class="mdl-menu__item" data-val="C" >C</li>
          </ul>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
          <input [(ngModel)]="cliente.taxaJuros" name="taxaJuros" class="mdl-textfield__input" type="text" id="taxaJuros" pattern="-?[0-9]*(\.[0-9]+)?" >
          <label class="mdl-textfield__label" for="taxaJuros">Taxa Juros</label>
        </div>
        <div class="mdl-grid">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin: 10px;" (click)="createCliente()">Add Cliente</a>
        </div>
      </form>
    </div>
  </div>
</div>
