<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">AHOY  - Teste - Bruno Valentim</span>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid" style="max-width: 70%;">
        <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col" style="margin: 50px;">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Crédito Clientes</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Clique em uma das opções a baixo
          </div>
          <div class="mdl-grid" style="max-width: 70%;">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin: 10px;" routerLink="/clientes"> Lista  de Clientes</a>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin: 10px;" routerLink="/add">Add Cliente</a>
            <br/>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>
</div>


